<!DOCTYPE html>
<html lang="en">
<html ng-app="login">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Register</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/basic.css">

    <!-- Javascript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="core.js"></script>

</head>

<body ng-controller="loginLogoutController">
<div class="container">
    <h1>Login</h1>
    <div id="username-form" class="row">
        <div class="col-sm-8 col-sm-offset-0 text-left">
            <form>
                <div class="form-group" align="left">
                    <p>Username:</p>
                    <input type="text" class="form-control input-lg text-center" placeholder="Enter username here..." ng-model="formUsernameData.text">
                </div>

                <div class="form-group" align="left">
                    <p>Password:</p>
                    <input type="text" class="form-control input-lg text-center" placeholder="Enter password here..." ng-model="formPasswordData.text">
                </div>

                <button type="submit" class="btn btn-primary btn-lg" ng-click="login()">Login</button>
            </form>
            <BR>
            <p>Result: {{ result }}</p>
        </div>
    </div>
</div>

</body>
</html>